*{
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Museo Sans', sans-serif;
    height: 100%;
    margin: 0px; /* don't want space wasted*/
}
.body{
   min-height: 93%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -4em;
}
.footer{
   height: 4em;
   margin-bottom: -20px;
}
.push{
   margin-top: 10px;
}
h3 {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
}

/* this is the background image of the page*/
#hfsbg {
    width: 100%;
    height: auto;
    position: fixed; /* so the image doesn't move with the page */
    top: 0;
    left: 0;
    z-index: -10; /* back item */
    min-height: 100%;
    min-width: 400px;
}
