body{
    font-family: 'Museo Sans', sans-serif;
}

#hfsbg {
    width: 100%;
    height: auto;
    position: fixed; /* so the image doesn't move with the page */
    top: 0;
    left: 0;
    z-index: -10; /* back item */
    min-height: 100%;
    min-width: 1024px;
}
.effect-link-line {
    position: relative;
}
.effect-link-line:after, .mainnav.mainnav-white .effect-link-line:before {
        /* background: #9fa0a0; */
        background: rgba(172,174,173,0.5);
    }

.mainNav {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    right: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    z-index: 10;
}

    
    .mainNav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
        margin-right: 10%;
    }

    .mainNav li {
        text-align: center;
        float: left;
    }

    .mainNav li > a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 4px 5px 3px 3px;
        margin: 0px 5px 0px 10px;
        letter-spacing: 1px;
        position: relative;
    }

        .mainNav li > a:hover{
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            border-top-color: white;

            /*outline: none;
            text-decoration: none;
            color: inherit;*/
        }
/*.mainNav a {
        outline: none;
        text-decoration: none;
        color: inherit;
        background: transparent;
    }*/
